{% extends 'layouts/base.html' %}

{% block title %}
    Listar Actores
{% endblock %}

{% block content %}
    <div class="row">
        {% for actor in actores %}
            <div class="col-4 mb-4">
                <div class="card card-center">
                    <img src="{{ actor.imagenA.url }}" class="card-img-top mt-2" alt="">
                    <div class="card-body">
                        <p class="card-text">{{ actor.nombres }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}