{% extends 'layouts/base.html' %}

{% block title %}
    Listar Vehiculos
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="one">&nbsp;</h3>
        </div>
        <div class="col-autor">
            <a class="btn btn-primary pull-right" href="{% url 'taxi:crear_vehiculo' %}">
                <i class="fa fa-add"></i>Crear Vehiculo
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>USUARIO</th>
            <th>DESCRIPCION</th>
            <th>ESTADO</th>
       
        </tr>
        </thead>
        <tbody>
        {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ vehiculo.usuario }}</td>
                <td>{{ vehiculo.descripcion }}</td>
                <td>{{ vehiculo.estado }}</td>
                
                <td>
                    <a class="btn btn-primary" href="/taxi/editar_vehiculo/{{vehiculo.id}}">Editar</a>
                    <a class="btn btn-danger" href="/taxi/eliminar_vehiculo/{{vehiculo.id}}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}